*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#bỏ qua thư mục gradle
#gradle/
#bỏ qua fie xml
#app/**/xml
#.... tìm hiểu ở bài 9.10


app/**/*.kt